html{
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Nunito";
  padding: 0;
  margin: 0;

}

body {
  padding: 0;
  margin: 0;

}

a{
text-decoration: none;
color: black;
}

.home{
width: 100%;
}

.homeIMG{
width: 100%;
position: relative;
}

.homeLogo{
width:20%;

}


nav{
display: flex;
flex-direction: row;
gap: 40px;
font-family: 'Nunito';
align-items: center;
opacity: .7;
}

.navInfo{
font-size: 20px;

}

nav{
background-color: #2994B2B2;
height: 50px;
width: 100%;
}

.line{
font-size: 25px;
}

.shopBackground{
  background-color: #474744E5;
  opacity: .7;
  padding: 5px 20px;
  text-align: center;
  margin-top: 150px;
  border-radius: 15px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.button{
font-family: 'Nunito';
font-size: 30px;
color: #FFFBE0;
}

#shopCollection{
width: 100%;
  background-image: url(images/landingImage.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
}

.surdAwayIMG{
display: flex;
flex-direction: column;
}


.title{
font-family: 'Nunito';
font-weight: 100;
font-size: 40px;
margin-left: 150px;
margin-bottom: -10px;
}

.item1{
width: auto;
height: 350px;
margin-top: -140px;
margin-left: 140px;
}

.item2{
margin-top: -260px;
margin-left: 410px;
}

.item3{
margin-left: 670px;
margin-top: -460px;
}