html{
  scroll-behavior: smooth !important;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  font-family: "Nunito";
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0; 

}

a{
text-decoration: none;
color: black;
}

.home{
width: 100%;
}

.homeIMG{
width: 100%;
position: relative;
}

.homeLogo{
width:20%;
}

.logo{
text-align: left;
}

nav{
font-family: 'Nunito';
opacity: .7;
height: 50px;
width: 100%;

}

.navBar{
text-align: right;
align-items: center;
justify-content: center;
}


.navInfo{
font-size: 20px;
padding: 15px ;
}


.line{
font-size: 25px;
}

.shopBackground{
  background-color: #474744E5;
  opacity: .7;
  padding: 5px 20px;
  text-align: center;
  margin-top: 150px;
  border-radius: 15px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.button{
font-family: 'Nunito';
font-size: 30px;
color: #FFFBE0;
}

#shopCollection{
width: 100%;
  background-image: url(images/landingImage.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;

}

#ourCollection{
position: relative;
width: 100%;
}

.title{
font-family: 'Nunito';
font-weight: 100;
font-size: 40px;
margin-left: 150px;
margin-bottom: -10px;
padding: 15px;
}

.item1{
width: auto;
height: 350px;
position: absolute;
left: 50px;
top: 120px;
}

.item2{
position: absolute;
left: 300px;
}

.item3{
position: absolute;
left: 550px;
top: 100px
}

.yellowCurls{
position: absolute;
right: 0;

z-index: -1;
}

.surfAwayIMG{
padding-top: 150px;
}

.item4{
position: absolute;
bottom: 50px;
left: 950px;
}

.item5{
position: absolute;
bottom: 50px;
left: 1200px;
}

.item6{
position: absolute;
}